#under-canvas-1 {
    position: absolute;
    overflow: auto;
    width: 1035px;
    height: 698px;
    z-index: 1;
}

#under-canvas-2 {
    position: absolute;
    width: 1054px;
    height: 1px;
}

form label {
    margin-right: 7px;
}

#myPaletteDiv {
    width: 100px;
    margin-right: 2px;
    background-color: #282c34;
}

#myDiagramDiv {
    overflow: visible;
    flex-grow: 1;
    height: 750px;
    background-color: #282c34;
}

#abovePalette {
    width: 100%;
    display: flex;
    justify-content: space-between;
}